@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Reset all default global styles since MUI CssBaseline handles styling */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
